@charset "UTF-8";
@import url(form.css);
.com-tab-box .tab-content {
  display: none; }

/* μΈν’‹ */
@media (max-width: 760px) {
  body {
    font-size: 12px; } }

.p-color {
  color: #30b46b; }

.p-color-l {
  color: #35c877; }

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: -9999;
  z-index: -99 !important; }

.join-form p {
  color: #30b46b; }

.join-form button[type="submit"],
.join-form input[type="submit"] {
  background-color: #258c53; }

.join-form button[type="submit"]:hover,
i.join-form nput[type="submit"]:hover {
  background: #30b46b; }

.ant-layout.layout {
  min-height: 100vh; }

.content-box {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 100%; }

.content-box.layout {
  padding: 20px;
  background-color: #fff;
  margin: 25px auto; }

.bg-box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.ant-layout-content {
  padding: 30px;
  display: block; }

@media (max-width: 760px) {
  .ant-layout-content {
    padding: 20px 15px; } }

.center-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.center-box.fix {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100; }

.pos-center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; }

.ic-loading {
  position: fixed;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  z-index: 10; }

.ic-loading svg {
  width: 40px;
  height: 40px; }

.flex-box {
  width: 100%;
  display: flex; }

.flex-box .tit {
  flex-shrink: 0; }

.flex-box.j-center {
  justify-content: center; }

.flex-box.a-center {
  align-items: center; }

.flex-box.between {
  justify-content: space-between; }

h2.title {
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: 500; }

h2.title.center {
  width: 100%;
  text-align: center; }

h3.title {
  font-size: 17px;
  padding-left: 10px;
  position: relative; }

h3.title::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 17px;
  background-color: #30b46b;
  position: absolute;
  left: 0;
  top: 5px; }

select {
  border-color: #e2e2e2;
  height: 32px; }

.nav-top-box {
  padding: 15px;
  display: inline-block;
  width: 230px; }

.ant-layout-sider-collapsed .nav-top-box {
  display: none; }

.btn-top-move {
  position: fixed;
  right: 40px;
  bottom: 30px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }

.btn-top-move svg {
  font-size: 18px; }

@media (max-width: 760px) {
  .btn-top-move {
    width: 35px;
    height: 35px;
    right: 15px;
    bottom: 15px; }
  .btn-top-move svg {
    font-size: 16px; } }

.ant-btn.sm {
  height: 28px;
  line-height: 28px;
  padding: 0 10px; }

.ant-table-column-sorters {
  padding: 8px; }

.ant-table-cell {
  padding: 8px 10px !important; }

.item-info-box {
  margin-bottom: 10px;
  font-size: 12px;
  color: #555;
  padding: 15px;
  border: 1px solid #30b46b; }

.item-info-box pre {
  margin: 0; }

.week_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0; }

.week_list li {
  margin-left: -1px;
  padding: 10px;
  position: relative;
  border: 1px solid #e2e2e2;
  font-size: 13px;
  width: 20%;
  margin-bottom: 10px; }

.week_list li.today {
  border: 2px solid #30b46b;
  z-index: 1;
  font-weight: bold; }

.week_list li .date {
  display: block;
  padding-bottom: 4px;
  padding-left: 5px;
  border-bottom: 1px solid #ddd; }

.week_list li .check-list-box {
  display: flex;
  flex-wrap: wrap; }

.week_list li .check-list-box.modify {
  padding: 7px 5px; }

.week_list li label.ant-checkbox-wrapper {
  width: 50%;
  margin: 2px 0;
  font-size: 12px; }

.week_list li .item-info {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center; }

.week_list li .confirm-info {
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid #ddd;
  text-align: center; }

.week_list li button {
  width: 100%;
  font-size: 12px; }

@media (max-width: 760px) {
  .week_list li label.ant-checkbox-wrapper {
    width: 100%;
    font-size: 11px;
    display: flex; }
  .week_list li .ant-checkbox + span {
    white-space: nowrap; } }

.week_list.next li {
  margin-bottom: 12px; }

.lunch-btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.lunch-btn-box button {
  width: 100%;
  max-width: 150px;
  height: 40px; }

.board-basic {
  width: 100%;
  border-top: 2px solid #30b46b; }

.board-basic li {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd; }

.board-basic li .subject a {
  color: #333;
  font-weight: 600; }

.board-basic.research li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.board-basic.research li > div {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.board-basic.research li > div span {
  flex: none; }

.board-basic.research li .right-box {
  flex: none; }

.board-basic.research li.tit span {
  font-weight: bold;
  color: #111;
  font-size: 13px;
  text-align: center;
  display: block; }

.board-basic.research li .date {
  flex-shrink: 0;
  width: 100px;
  text-align: center; }

.board-basic.research li .date.limit {
  width: 140px; }

.board-basic.research li .subject {
  flex: 1; }

.board-basic.research li .admin {
  width: 60px; }

.board-basic.research li.none {
  display: none; }

.board-basic.research li .date {
  font-size: 12px;
  color: #888; }

.board-basic.research li .state {
  width: 80px;
  text-align: center; }

.board-basic.research li .state.con span {
  display: inline-block;
  width: auto;
  padding: 2px 6px;
  color: #fff;
  background-color: #30b46b;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px; }

.board-basic.research li .state.con.yet span, .board-basic.research li .state.con.end span {
  background-color: #666; }

.board-basic.research li .ant-btn {
  height: 30px;
  font-size: 12px;
  width: 60px; }

.board-view-basic {
  border-top: 2px solid #30b46b; }

.board-view-basic dt {
  width: 100%;
  padding: 12px 15px;
  font-size: 17px;
  border-bottom: 1px solid #e2e2e2; }

.board-view-basic dd {
  padding: 15px;
  border-bottom: 1px solid #e2e2e2; }

.board-view-basic dd .tit {
  margin-right: 5px;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px; }

.board-view-basic .btn-box {
  width: 100%;
  margin-top: 15px;
  text-align: center; }

.board-view-basic .btn-box .ant-btn {
  width: 120px;
  height: 36px; }

.board-view-basic .img {
  margin: 5px 0; }

@media (max-width: 760px) {
  .board-view-basic dt, .board-view-basic dd {
    padding: 10px; }
  .board-view-basic .flex-box {
    flex-direction: column; } }

.board-view-basic .my-answer {
  border: 1px solid #30b46b;
  padding: 15px;
  margin: 10px 0;
  text-align: center; }

.board-view-basic .my-answer h4 {
  font-weight: bold;
  font-size: 1.1rem; }

.research-form .ant-space .ant-form-item {
  margin-bottom: 0; }

.research-form .ant-space-item {
  width: 100%; }

.research-form .ant-space-item:last-child {
  width: auto; }

.research-chart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 15px; }

.research-chart li {
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.research_tbl .sign {
  height: 40px; }

.signature-box {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }

.signature-box .signature-pad {
  border: 1px solid #ddd; }

.signature-box .clear {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.time-seting {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.time-seting .tit {
  margin-right: 8px; }

.time-seting .ant-picker {
  margin-right: 15px;
  width: 195px; }

@media (max-width: 760px) {
  .time-seting {
    flex-direction: column;
    align-items: flex-start; }
  .time-seting .tit {
    margin-right: 0;
    margin-bottom: 4px; }
  .time-seting .ant-picker {
    margin-right: 0;
    margin-bottom: 10px; } }

.nav-time {
  padding: 15px 0;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd; }

.nav-time .current {
  display: inline-block;
  width: 100%;
  height: 24px;
  border: 2px solid #30b46b;
  border-width: 2px 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s; }

.nav-time .current span {
  position: absolute;
  left: 27px;
  top: 10px;
  font-size: 12px;
  color: #30b46b; }

.nav-time .current.state_1 {
  top: 14px; }

.nav-time .current.state_2 {
  top: 36px; }

.nav-time .current.state_3 {
  top: 58px; }

.nav-time .current.state_4 {
  top: 80px; }

.nav-time .current.state_5 {
  display: none; }

.nav-time ul {
  font-size: 12px;
  text-align: center; }

.nav-time ul li {
  line-height: 1.9;
  color: #999;
  font-weight: 400; }

.nav-time ul li.cur {
  color: #333;
  font-weight: 700; }

.call_modify .input-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.call_modify .input-box .tit {
  min-width: 55px;
  flex-shrink: 0;
  text-align: right;
  margin-right: 10px; }

.call_modify select {
  border: 1px solid #e2e2e2;
  height: 30px;
  flex: 1; }

@media (max-width: 760px) {
  .call_modify {
    top: 170px !important; } }

.state-txt9 {
  font-weight: 700;
  color: #111; }

.state-txt0 {
  font-weight: 700;
  color: #2b3fad; }

.state-txt1 {
  font-weight: 700;
  color: #03aa4e; }

.state-txt2 {
  font-weight: 700;
  color: #ec3b3b; }

.state-txt3 {
  font-weight: 700;
  color: #a1a1a1; }

.log-list {
  margin-bottom: 0; }

.log-list li > div {
  margin-right: 10px; }

.join-form-wrap .input-box {
  position: relative;
  margin-bottom: 20px; }

.join-form-wrap input {
  outline-color: #30b46b; }

.join-form-wrap input + .place-holder {
  line-height: 1;
  margin: 0;
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 0 4px;
  color: #999;
  transition: all 0.2s; }

.join-form-wrap input:focus + .place-holder,
.join-form-wrap input + .place-holder.on {
  color: #30b46b;
  font-size: 12px;
  top: -12px;
  padding-bottom: 2px;
  z-index: 10; }

.join-form-wrap input:focus + .place-holder span,
.join-form-wrap input + .place-holder.on span {
  position: relative;
  z-index: 2; }

.join-form-wrap input:focus + .place-holder::after,
.join-form-wrap input + .place-holder.on::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #fff;
  left: 0;
  bottom: 0; }

.join-form-wrap .radio .custom-radio {
  width: 0;
  height: 0; }

.join-form-wrap .radio .custom-radio + label {
  color: #666;
  height: 44px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  flex: 1;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 5px; }

.join-form-wrap .radio .custom-radio + label:last-child {
  margin-right: 0; }

.join-form-wrap .radio .custom-radio:checked + label {
  background-color: #30b46b;
  color: #fff;
  border-color: #30b46b;
  font-weight: 600; }

.ant-form-horizontal.hiar-form .ant-form-item-label {
  width: 75px; }

.ant-form-horizontal.hiar-form .signature .ant-form-item-control-input-content {
  flex: none; }

.ant-form-horizontal.hiar-form .btn-box {
  text-align: center; }

.list-top-filter {
  display: inline-block; }

.list-top-filter .ant-select {
  width: 120px;
  margin-right: 5px; }

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.search-box .ant-select {
  width: 100px; }

.search-box .ant-input-group-wrapper {
  width: 350px; }

.search-box .ant-input {
  flex: 1;
  max-width: 400px; }

button a, button span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 13px; }

button a svg, button span svg {
  margin-right: 4px;
  font-size: 14px; }

.view-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px 0;
  position: relative; }

.view-btn-box button {
  margin-right: 5px; }

.view-btn-box button:last-child {
  margin-right: 0; }

.ant-menu-dark .ant-menu-item-selected > a, .ant-menu-dark .ant-menu-item-selected > span > a, .ant-menu-dark .ant-menu-item-selected > a:hover, .ant-menu-dark .ant-menu-item-selected > span > a:hover {
  color: rgba(255, 255, 255, 0.65) !important; }

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: none !important; }

.list-table td {
  font-size: 13px;
  color: #555; }

.list-table td a {
  color: #222;
  font-weight: 700; }

.list-table .emergency {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  color: #f01818; }

.list-table .emergency svg {
  margin-right: 3px;
  width: 18px;
  height: 18px; }

.list-table .emergency.notice {
  color: #03aa4e; }

.list-table .state {
  display: block; }

@media (max-width: 760px) {
  .ant-layout-sider.nav-wrap {
    min-width: 0 !important; }
  .admin-prod-form .ant-input {
    max-width: 100%; }
  .ant-layout-header {
    padding: 0 15px; }
  .list-top-filter {
    width: 100%;
    margin-bottom: 5px; }
  .list-top-filter .ant-select {
    width: 100%;
    margin-right: 0; }
  .search-box {
    width: 100%; }
  .search-box .ant-input {
    max-width: 100%; }
  .search-box .ant-input-group-wrapper {
    max-width: 100%;
    width: 100%; }
  .btn-m-100 {
    width: 100%; }
  .view-btn-box {
    flex-wrap: wrap; }
  .view-btn-box button {
    width: 100%;
    height: 35px;
    margin-right: 0;
    margin-bottom: 7px; }
  .top-state-radio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1px;
    margin-top: 5px; }
  .top-state-radio label {
    width: 33.33%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-width: 1px;
    margin-left: -1px;
    margin-top: -1px;
    font-size: 12px; } }

.ani-fadeup {
  animation: fade_up 0.6s both; }

.ani-faderight {
  animation: fade_right 0.6s both; }

.ani-fadein {
  animation: fade_in 0.4s both; }

.ani-fadein.du-1 {
  animation-duration: 0.2s; }

.ani-down {
  animation: ani_down 0.3s both; }

.delay-0 {
  animation-delay: 0s !important; }

.delay-1 {
  animation-delay: 0.1s !important; }

.delay-2 {
  animation-delay: 0.2s !important; }

.delay-3 {
  animation-delay: 0.3s !important; }

.delay-4 {
  animation-delay: 0.4s !important; }

.delay-5 {
  animation-delay: 0.5s !important; }

.delay-6 {
  animation-delay: 0.6s !important; }

.delay-7 {
  animation-delay: 0.7s !important; }

.delay-8 {
  animation-delay: 0.8s !important; }

.delay-9 {
  animation-delay: 0.9s !important; }

.delay-10 {
  animation-delay: 1s !important; }

@keyframes ani_down {
  from {
    opacity: 0;
    transform: translateY(-100%); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fade_up {
  from {
    opacity: 0;
    transform: translateY(30px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fade_down {
  from {
    opacity: 0;
    transform: translateY(-30px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fade_right {
  from {
    opacity: 0;
    transform: translateX(-30px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fade_in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
